body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.left-panel {
  position: absolute;
  width: 300px;
  min-height: 300px;
  left: 0;
  top: 0;
}

.right-panel {
  margin-left: 300px
}